<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>Effects of Whitespace on Reading Comprehension</h2>
		<hr>
		<p>
			White space is the absence of text in a space.  In this experiment we are testing the relationship between white space and readability. 
		</p>
		<p>
			You will be required to read a total of four excerpts taken from SAT practice exams. Take as much time as you need to comprehend each passage.  The line number corresponding to the original passage will appear in parentheses at the beginning of each line.  When you are finished, click "I'm done reading" to begin answering questions.  You have 30 seconds to answer each question.
 		</p>
 		<p>
 			When you are ready, click "Begin" to start the experiment.
 		</p>
 		<hr>
		<button type="button" class="btn btn-primary btn-lg btn-block" ng-disabled="$parent.loadingData" ng-click="startTests()">Begin</button>
	</div>
</div>