<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>Page Title</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec neque dolor. Quisque vulputate metus id erat scelerisque, id facilisis urna tempus. Fusce fringilla rhoncus dignissim. Nam et mi tincidunt ante adipiscing posuere. Vestibulum pulvinar varius magna quis sollicitudin. Suspendisse tellus lorem, placerat ac neque eget, ultricies auctor nulla. Sed consequat sem sit amet posuere volutpat. Curabitur auctor odio ac ultricies hendrerit. Mauris in mi eget dui blandit cursus eget at elit. Quisque lobortis arcu facilisis purus suscipit consectetur. Nullam dictum mattis mauris, at dapibus magna consectetur imperdiet. Pellentesque lectus quam, lobortis non eleifend vel, convallis rutrum magna. Aliquam in aliquam felis.
		</p>
		<p>
			In feugiat facilisis ipsum in aliquet. Ut egestas metus et velit placerat, nec varius diam mattis. Vestibulum arcu ipsum, auctor sollicitudin euismod in, faucibus vitae velit. Maecenas in hendrerit erat. Sed sodales tortor urna, nec venenatis elit gravida in. Praesent dictum pharetra urna eget laoreet. Nam ac imperdiet felis, ut scelerisque mi. Nullam turpis libero, rutrum quis lacus in, molestie euismod arcu. Sed ut quam lorem. Sed vulputate aliquam lectus et tempus. In dignissim ullamcorper laoreet. Integer aliquam volutpat urna eu bibendum. Cras tempor est at urna rutrum, a aliquam nisl rhoncus. Maecenas eget dui accumsan, feugiat metus id, hendrerit odio. Praesent vitae posuere diam, quis hendrerit nulla.
		</p>
		<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="startTests()">Begin</button>
	</div>
</div>